html, body{
  overflow: auto;
  height: auto;
  min-width: 320px;
}

.full-height{
  width: 100%;
}

.b-slide-track{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
//
// Слайд 1
//
.b-slide-track{
  width: 100%;
}
.b-slide-1__col{
  width: 49%;
}
.b-iphone-bg,
.b-iphone-face{
  width: 100%;
  height: auto;
}
.b-logo{
  min-width: 100%;
}
.b-logo__img{
  width: 90%;
}
.b-logo__descr{
  width: 100%;
}
.b-logo__descr > p {
  padding: 5%;
}


//
// Слайд 2
//
.slide2{
  height: auto;
}
.b-iphone-bg,
.b-iphone-face{
  display: none;
}
.b-slide-2__col{
  display: block;
}
.b-slide-2-rigth > p {
  font-size: 1.88em;
  text-align: center;
  padding: 20px 0;
}

//
// Слайд 3
//

.slide3{
  max-width: 600px;
  width: 100%;
  min-width: 0;
  margin: 0 auto;
  padding-top: 50px;
}
.b-slide-3__col{
  display: block;
  width: 100%;
}
.b-sl3-text > p {
  font-size: 1.4em;
}
.b-sl3-img__left{
  width: 50%;
}
.b-sl3-img__right{
  width: 50%;
}

//
// Слайд 4
//

.slide4{
  width: 100%;
  padding-top: 50px;
  background: none;
  height: auto;

}
.b-sl4-bot-coll{
  width: 100%;
}
.b-slide-4__bottom{
  background: #d02221;
  padding-bottom: 30px;
  max-width: 100%;
  display: block;
  height: auto;
}
.b-sl4-bot{
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.b-sl4-bot-secript > p {
  padding: 5px;
}
.b-sl4-bot-coll > p {
  padding: 2% 5px;
}
//
// Слайд 5
//

.slide5{
  width: 100%;
  min-width: 100%;
  height: auto;
}
.b-sl-5-img{
  width: 100%;
}
.b-sl-5-text__col > p{
  font-size: 1.4em;
}
.b-slide-5__row{
  text-align: center;
}
//
// Слайд 6
//
.slide6{
  min-width: 0;
  padding: 5px;
  max-width: 600px;
  display: block;
  margin: auto;
}
.b-slide-6-h3-img{
  display: none;
}
.b-slide-6-h3{
  font-size: 2.53em;
}
.b-slide-6__col{
  display: block;
}
.b-slide-6__col--mr{
  margin-right: 0;
}
.b-slide-item{
  height: auto !important;
}
//
// Слайд 7
//
.slide7 {
  padding: 5px;
  max-width: 600px;
  display: block;
  margin: auto;
}
.b-slide-7__content{
  position: relative;
  right: 0;
}
.b-slide-7__img{
  display: none;
}
.b-slide-7-h2{
  font-size: 1.8em;
}
.b-slide-7__head{
  height: auto;
}
//
// Слайд 8
//

.slide8{
  width: 100%;
}

.b-slide-8__bg{
  display: none;
}
.b-sl-8-content{
  height: auto;
}
.b-sl-8-h3{
  font-size: 1.75em;
  margin-left: 12%;

  &:before{
    left: -35px;
    width: 30px;
    height: 30px;
    background-size: 100%;

  }
}
.b-sl-8-content__body{
  height: auto;
  background: #d02221;
}
.b-sl-8-content-body{
  padding: 5px;
  padding-bottom: 10%;
  padding-top: 10%;
}
.b-slide-8__section{
  width: 100%;
}
.b-sl-8-content{
  display: block;
}
.b-sl-8-content__head{
  height: 150px;
  margin-bottom: 40px;
}
//
// Слайд 9
//

.slide9{
  min-width: 100%;
}
.b-scroll-9__col--w-40{
  width: 100%;
}
.b-sl-9-text-h2{
  font-size: 2em;
  padding: 5px;
}
.b-scroll-9-img{
  width: 100%;
  height: auto;
}
.b-sl-9-text-ul--mr-20{
  margin-right: 10%;
}
.b-sl-9-text-ul--ml-10{
  margin-right: 0;
  margin-left: 0;
}

.b-sl-9-text__box{
  padding: 5px;
}
//
// Слайд 10
//
.slide10{
  width: 100%;
  min-width: 100%;
}

.b-scroll-10{
  display: block;
  height: auto;
}
.b-scroll-10__col{
  display: block;
}
.b-scroll-10-box{
  width: 80%;
  margin: 10px auto;
  display: block;
  max-width: 320px;
}
.b-scroll-10-disk{
  display: none;
}

//
// Слайд 11
//
.b-portfolio-img{
  float: none;
  width: 100%;
}
.b-portfolio-img--after{
  display: none;
}
//
// Слайд 12
//
.slide12{
  background: #d02221;
  padding: 25px 0;

}
.b-sl-12-big-text{
  padding: 0;
  font-size: 1.4em;
}
.b-slide12-contact-mobile{
  width: 100%;
  display: table-row;
  color: #fff;
}
.b-slide-12{
  display: block;
  width: auto;
  height: auto;
}
.b-slide-12__big-text{
  display: block;
  height: auto;
}
.b-sl-12-big-text{
  padding: 10% 5px;
}
.b-slide12-contact-mobile > p {
  padding: 5px;
}
@media (min-width: 800px){
  .b-sl4-bot-coll{
    width: 46%;
    padding: 0 2%;
  }
}
@media (max-height: 400px){
  .b-sl-12-big-text{
    padding: 0;
    font-size: 1.2em;
  }
}