@font-face {
  font-family: 'PFAgoraSansPro-Regular';
  src: url('../fonts/PFAgoraSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PFAgoraSansPro-Regular.woff') format('woff'), url('../fonts/PFAgoraSansPro-Regular.ttf') format('truetype'), url('../fonts/PFAgoraSansPro-Regular.svg#PFAgoraSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Bold';
  src: url('../fonts/PFAgoraSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PFAgoraSansPro-Bold.woff') format('woff'), url('../fonts/PFAgoraSansPro-Bold.ttf') format('truetype'), url('../fonts/PFAgoraSansPro-Bold.svg#PFAgoraSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-UltraBlack';
  src: url('../fonts/PFAgoraSansPro-UltraBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/PFAgoraSansPro-UltraBlack.woff') format('woff'), url('../fonts/PFAgoraSansPro-UltraBlack.ttf') format('truetype'), url('../fonts/PFAgoraSansPro-UltraBlack.svg#PFAgoraSansPro-UltraBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFSquareSansPro-Regular';
  src: url('../fonts/PFSquareSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PFSquareSansPro-Regular.woff') format('woff'), url('../fonts/PFSquareSansPro-Regular.ttf') format('truetype'), url('../fonts/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFSquareSansPro-Light';
  src: url('../fonts/PFSquareSansPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/PFSquareSansPro-Light.woff') format('woff'), url('../fonts/PFSquareSansPro-Light.ttf') format('truetype'), url('../fonts/PFSquareSansPro-Light.svg#PFSquareSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Thin';
  src: url('../fonts/PFAgoraSansPro-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/PFAgoraSansPro-Thin.woff') format('woff'), url('../fonts/PFAgoraSansPro-Thin.ttf') format('truetype'), url('../fonts/PFAgoraSansPro-Thin.svg#PFAgoraSansPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
.b-slide-track {
  transition-duration: .3s;
  transition-property: opacity;
  position: absolute;
  top: 0;
  left: 0;
}
.preloader {
  display: none;
}
.b-slide-item {
  float: left;
}
div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}
/*
  Слайд 1
*/
.b-slide-1__col {
  display: inline-block;
  vertical-align: middle;
}
.full-height {
  width: auto;
}
.b-logo {
  min-width: 400px;
}
.b-logo__img {
  display: block;
  margin: 0 auto;
}
.b-logo__descr {
  width: 400px;
  margin: 0 auto;
}
.b-logo__descr > p {
  padding: 30px 0 0 115px;
  font-family: "PFSquareSansPro-Regular";
  font-size: 1.05em;
}
/*
  Слайд 2
*/
.slide2 {
  height: 100%;
}
.b-slide-2-left {
  position: relative;
  overflow: hidden;
  background: #fdfdfd;
}
.b-iphone-bg {
  height: 100%;
  position: relative;
  z-index: 10;
}
.b-iphone-face {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.b-slide-2__col {
  display: inline-block;
  vertical-align: middle;
}
.b-slide-2-rigth > p {
  font-family: 'PFAgoraSansPro-UltraBlack';
  text-transform: uppercase;
  font-size: 3.88em;
}
/*
  Слайд 3
*/
.slide3 {
  width: 1000px;
  height: 100%;
  display: block;
  min-width: 1200px;
}
.b-slide-3__table {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.b-slide-3 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.b-slide-3__col {
  display: inline-block;
  vertical-align: middle;
}
.b-sl3-img__left {
  margin-right: -253px;
  transition-duration: .3s;
}
.b-sl3-text > p {
  font-family: 'PFAgoraSansPro-UltraBlack';
  font-size: 2.5em;
  text-transform: uppercase;
}
.b-sl3-text--algn-l {
  text-align: left;
}
.b-sl3-text--algn-r {
  text-align: right;
}
/*
  Слайд 4
*/
.slide4 {
  width: 1000px;
  background: url('../img/scroll-4-bg.png') 50% 100% no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100%;
  display: table;
}
.b-slide-4 {
  height: 100%;
}
.b-slide-4__top {
  height: 50%;
  display: table;
  margin: 0 auto;
}
.b-sl4-top {
  max-width: 600px;
  display: table-cell;
  vertical-align: middle;
}
.b-sl4-top__ball {
  text-align: center;
}
.b-ball {
  display: inline-block;
  background: #d02221;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 10px;
}
.b-ball-table {
  display: table;
  width: 100%;
  height: 100%;
}
.b-ball-tb-cell {
  display: table-cell;
  vertical-align: middle;
}
.b-slide-4__bottom {
  max-width: 600px;
  margin: 0 auto;
  display: table;
  height: 50%;
}
.b-sl4-bot {
  display: table-cell;
  vertical-align: middle;
}
.b-sl4-bot-coll {
  float: left;
  width: 50%;
}
.b-sl4-top__h3 {
  font-family: 'PFAgoraSansPro-Regular';
  font-size: .95em;
  line-height: 1.1;
  padding: 0 0 3% 5%;
}
.b-ball-row-top > p {
  font-family: 'PFAgoraSansPro-Regular';
  font-size: 1.1em;
  color: #fff;
}
.b-ball-row-bot > p {
  font-family: 'PFAgoraSansPro-Regular';
  font-size: 1.1em;
  color: #fff;
}
.big-Thin {
  font-family: 'PFAgoraSansPro-Thin';
  font-size: 3em;
}
.b-sl4-top__descr {
  padding: 3% 0 0 5%;
}
.b-sl4-top-descr-text {
  color: #666666;
  font-family: 'PFAgoraSansPro-Regular';
  font-size: .67em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.b-sl4-top-descr-bracket {
  font-size: 2em;
  font-family: 'PFSquareSansPro-Light';
  display: inline-block;
  vertical-align: middle;
  color: #666666;
}
.b-sl4-bot-coll > p {
  font-family: 'PFAgoraSansPro-Regular';
  color: #fff;
  padding: 2% 0;
}
.normal-text {
  font-family: 'PFAgoraSansPro-Regular';
  font-size: .97em;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 6px 0 0 0;
  display: block;
}
.big-letters {
  font-family: 'PFAgoraSansPro-Thin';
  font-size: 3.2em;
  display: block;
  float: left;
  line-height: .8;
}
.b-sl4-bot-col__after-text {
  font-family: 'PFAgoraSansPro-Regular';
  font-size: .66em;
  display: inline-block;
  vertical-align: middle;
}
.b-sl4-bot-col__after-bracket {
  font-family: 'PFSquareSansPro-Light';
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 3em;
}
.b-sl4-bot-secript > p {
  font-family: 'PFAgoraSansPro-Regular';
  font-size: 1.008em;
  color: #fff;
}
.b-sl4-bot-secript {
  clear: both;
  padding-top: 13%;
}
/*
  Слайд 5
*/
.slide5 {
  width: 1000px;
  height: 100%;
  min-width: 1800px;
}
.b-slide-5__row--height-fix {
  position: relative;
}
.b-sl-5-text__col {
  display: inline-block;
  vertical-align: middle;
  padding: 0 2%;
}
.b-sl-5-text__col > p {
  font-family: 'PFSquareSansPro-Light';
  font-size: 1.72em;
}
.b-sl-5-text__li {
  font-family: 'PFSquareSansPro-Light';
  font-size: 1.0315em;
  padding: 3% 0;
  position: relative;
}
.b-sl-5-text__li:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: #d02221;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 15px;
}
.b-sl-5-text {
  position: relative;
}
.b-sl-5-img {
  position: relative;
  top: 0;
  left: 0;
}
/*
  Слайд 6
*/
.slide6 {
  min-width: 1300px;
}
.b-slide-6__col {
  display: inline-block;
  vertical-align: middle;
}
.b-slide-6__col--vat {
  vertical-align: top;
}
.b-slide-6__col--mr {
  margin-right: -20%;
  position: relative;
}
.b-slide-6-h3 {
  font-family: 'PFAgoraSansPro-UltraBlack';
  font-size: 3.53em;
  padding: 10% 0;
}
.b-slide-text-box > h4 {
  font-family: 'PFAgoraSansPro-Regular';
  font-size: 1.115em;
  font-weight: bold;
}
.b-slide-text-box > p {
  font-family: 'PFSquareSansPro-Light';
  font-size: 1.03em;
  line-height: 1.1;
  padding: 4px 0 15%;
}
/*
  Слайд 7
*/
.slide7 {
  min-width: 1400px;
}
.b-slide-7 {
  position: relative;
}
.b-slide-7__content {
  position: absolute;
  top: 0;
  right: 10%;
}
.b-slide-7__head {
  height: 50%;
  display: table;
}
.b-slide-7-h2 {
  vertical-align: bottom;
  line-height: 2;
  display: table-cell;
  text-transform: uppercase;
  font-family: 'PFAgoraSansPro-UltraBlack';
  font-size: 5.8em;
}
.b-slide-7__text {
  height: 50%;
  overflow: hidden;
}
.b-sl-7-content-box > h4 {
  font-family: 'PFSquareSansPro-Regular';
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 1.2em;
  margin-top: 6%;
}
.b-sl-7-content-box > p {
  font-family: 'PFSquareSansPro-Regular';
  font-size: 1.04em;
}
/*
  Слайд 8 (3 in 1)
*/
.slide8 {
  width: 1000px;
  overflow: hidden;
}
.b-slide-8 {
  position: relative;
  height: 100%;
}
.b-slide-8__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../img/fence-bg.jpg) 0 100% repeat-x;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
.b-slide-8__section {
  float: left;
  position: relative;
  z-index: 10;
}
.b-sl-8-content {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.b-sl-8-content__head {
  height: 50%;
}
.b-sl-8-content__body {
  height: 50%;
}
.b-sl-8-content__head {
  display: table;
}
.b-sl-8-content-head {
  display: table-cell;
  vertical-align: bottom;
}
.b-sl-8-h3 {
  font-size: 3.75em;
  text-transform: uppercase;
  font-family: 'PFAgoraSansPro-UltraBlack';
  position: relative;
  max-width: 700px;
  padding-bottom: 2.1%;
}
.b-sl-8-h3:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -155px;
  width: 129px;
  height: 129px;
  background: url(../img/head-logo-1.jpg) 50% 50% no-repeat;
}
.b-sl-8-content-body {
  padding-top: 10%;
}
.b-sl-8-content-body__li {
  font-family: 'PFSquareSansPro-Regular';
  color: #fff;
  font-size: 1.03em;
  padding-bottom: 1.4%;
}
/*
  Слайд 9
*/
.slide91 {
  background: url(../img/scroll-9-bg.jpg) 50% 50% no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  min-width: 1310px;
  transition-duration: .3s;
  position: relative;
}
.b-scroll-9 {
  text-align: center;
}
.b-scroll-9__col {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.b-scroll-9__col--w-40 {
  width: 40%;
}
.b-sl-9-text-h2 {
  font-family: 'PFAgoraSansPro-UltraBlack';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.48em;
}
.b-scroll-9-img {
  height: 100%;
}
.b-sl-9-text__box {
  padding-top: 7%;
}
.b-sl-9-text-ul {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.b-sl-9-text-ul--mr-20 {
  margin-right: 20%;
}
.b-sl-9-text-ul--ml-10 {
  margin-left: 10% ;
}
.b-sl-9-text-li {
  font-family: 'PFSquareSansPro-Light';
  color: #ffffff;
  font-size: 1.05em;
  line-height: 1.2;
}
/*
  Слайд 10
*/
.slide10 {
  width: 1000px;
  min-width: 1200px;
}
.b-scroll-10 {
  display: table;
  margin: 0 auto;
  vertical-align: middle;
  height: 100%;
}
.b-scroll-10__col {
  display: table-cell;
  vertical-align: middle;
  width: 49%;
}
.b-scroll-10-box {
  position: relative;
  z-index: 10;
}
.b-scroll-10-disk {
  margin-left: -77px;
  position: relative;
  z-index: 5;
  vertical-align: top;
  transition-duration: .3s;
}
.b-scroll-10-text {
  padding-left: 10%;
}
.b-scroll-10-text > p {
  font-family: 'PFSquareSansPro-Light';
  font-size: 1.7em;
  line-height: 1.2;
}
/*
  Слайд примеры портфолио
*/
.slide-port {
  -webkit-background-size: cover;
  background-size: cover;
}
.slide-port--gagarin {
  background: url(../img/port-1-bg.jpg) 50% 50% no-repeat;
}
.slide-port--kalitva {
  background: url(../img/port-2-bg.jpg) 50% 50% no-repeat;
}
.slide-port--kapitol {
  background: url(../img/port-3-bg.jpg) 50% 50% no-repeat;
}
.slide-port--ariant {
  background: url(../img/port-4-bg.jpg) 50% 50% no-repeat;
}
.slide-port--shato {
  background: url(../img/port-4-bg.jpg) 50% 50% no-repeat;
}
.slide-port--shato {
  background: url(../img/port-4-bg.jpg) 50% 50% no-repeat;
}
.slide11 {
  width: 1000px;
  background: blue;
}
.b-scroll-portf {
  display: table;
  width: 100%;
  height: 100%;
}
.b-scroll-portf__text {
  display: table-cell;
  vertical-align: top;
  padding: 5% 0 0 5%;
}
.b-scroll-portf-text__h2 > h2 {
  font-family: 'PFAgoraSansPro-UltraBlack';
  font-size: 3em;
  line-height: .9;
  padding: 2% 0;
  text-transform: uppercase;
}
.b-scroll-portf-text__p > p {
  font-family: 'PFSquareSansPro-Light';
  font-size: 1.07em;
  padding: 1% 0;
}
.b-scroll-portf-text__after > p {
  font-family: 'PFSquareSansPro-Regular';
  font-size: .7em;
}
.b-scroll-portf__img {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
}
.b-portfolio-img {
  float: left;
}
.slide12 {
  background: url(../img/scroll-12-bg.jpg) 0 100% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-color: #d02221;
}
.b-slide-12 {
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.b-slide-12__big-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.b-sl-12-big-text {
  font-family: 'PFAgoraSansPro-UltraBlack';
  color: #ffffff;
  padding-left: 4%;
  font-size: 2.6em;
  line-height: .9;
}
.b-sl-12-big-text > span {
  font-size: 1.65em;
}
.b-slide12-contact-mobile {
  display: none;
}
.b-menu {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -110px;
  width: 220px;
  text-align: center;
  z-index: 999;
  padding-top: 2%;
  display: table;
}
.b-menu__item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.b-menu__item:hover .b-menu-check {
  width: 15px;
  height: 15px;
}
.b-menu-check {
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 10px solid red;
  cursor: pointer;
  transition-duration: .3s;
  margin: 0 auto;
  display: block;
}
.b-menu-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.b-menu-description {
  position: absolute;
  height: 30px;
  background: #dededf;
  padding: 0 30px;
  left: 50px;
  display: none;
  font-family: 'PFSquareSansPro-Regular';
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.6;
  margin-top: 6px;
}
.b-menu-description:before {
  content: "";
  display: block;
  width: 20px;
  height: 25px;
  background: url(../img/treug.png) 50% 50% no-repeat;
  top: -25px;
  left: 0;
  position: absolute;
}
noscript > p {
  font-family: 'PFSquareSansPro-Regular';
  text-align: center;
  padding-top: 30px;
}
@media (max-height: 650px) {
  .b-sl4-bot-secript {
    padding-top: 3%;
  }
}
