@import "reset.css";
@font-face {
  font-family: 'PFAgoraSansPro-Regular';
  src: url('../font/PFAgoraSansPro-Regular_gdi.eot');
  src: url('../font/PFAgoraSansPro-Regular_gdi.eot?#iefix') format('embedded-opentype'), url('../font/PFAgoraSansPro-Regular_gdi.woff') format('woff'), url('../font/PFAgoraSansPro-Regular_gdi.ttf') format('truetype'), url('../font/PFAgoraSansPro-Regular_gdi.svg#PFAgoraSansPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB05;
}
@font-face {
  font-family: 'PFAgoraSansPro-Bold';
  src: url('../font/PFAgoraSansPro-Bold_gdi.eot');
  src: url('../font/PFAgoraSansPro-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../font/PFAgoraSansPro-Bold_gdi.woff') format('woff'), url('../font/PFAgoraSansPro-Bold_gdi.ttf') format('truetype'), url('../font/PFAgoraSansPro-Bold_gdi.svg#PFAgoraSansPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB05;
}
.font-regular {
  font-family: 'PFAgoraSansPro-Regular';
}
.font-bold {
  font-family: 'PFAgoraSansPro-Bold';
}
html,
body {
  height: 100%;
  font-family: 'PFAgoraSansPro-Regular';
  background: #000;
  min-width: 320px;
}
.b-wrapper {
  background: url(../img/bg.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}
.mobile-img {
  display: none;
  width: 100%;
}
.b-width {
  max-width: 990px;
  margin: 0 auto;
}
.b-width > h2 {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .44em;
  line-height: 2em;
  padding-top: 5%;
}
.b-bottom-text {
  position: absolute;
  width: 990px;
  bottom: 5%;
}
.b-bottom-nav {
  text-align: center;
}
.b-bottom-nav__item {
  display: inline-block;
  width: 16%;
  text-align: left;
  padding-left: 4%;
}
.b-bottom-nav__item--old-site {
  padding-left: 0;
}
.b-bot-link--old {
  font-family: 'PFAgoraSansPro-Bold' !important;
}
.b-bottom-nav__item--fb {
  background: url(../img/fb.png) 0 50% no-repeat;
}
.b-bottom-nav__item--vk {
  background: url(../img/vk.png) 0 50% no-repeat;
}
.b-bottom-nav__item--ig {
  background: url(../img/ig.png) 0 50% no-repeat;
}
.b-bot-link {
  color: #fff;
  font-family: 'PFAgoraSansPro-Regular';
  text-decoration: none;
  text-transform: uppercase;
  font-size: .78em;
  letter-spacing: .05em;
}
.b-bot-link:hover {
  text-decoration: underline;
}
.b-bottom-text__row > p {
  color: #fff;
  text-transform: lowercase;
  font-size: .6em;
  letter-spacing: .075em;
  padding: .5% 0 0 1%;
}
@media (max-width: 780px) {
  .b-width > h2 {
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1;
    padding-top: 5%;
  }
  .mobile-img {
    display: block;
  }
  .b-wrapper {
    background: #000;
  }
  .b-bottom-nav__item {
    padding-left: 8%;
  }
  .b-bottom-text {
    position: relative;
    width: 100%;
  }
  .b-bottom-nav__item {
    display: block;
    clear: both;
    width: 100%;
    margin: 20px auto;
  }
  .b-bottom-nav__item--old-site {
    padding-left: 4%;
  }
  .b-bottom-text__row > p {
    display: none;
  }
}
@media (max-width: 500px) {
  .b-bottom-nav__item {
    padding-left: 10%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767.9px) {
  .b-wrapper {
    background: #000;
  }
  .mobile-img {
    display: block;
  }
  .b-bottom-nav__item {
    padding-left: 0;
  }
  .b-bot-link > span {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-left: 32px;
  }
  .b-bottom-nav__item > img {
    display: block;
  }
  .b-bottom-nav {
    width: 195px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .b-wrapper {
    background: #000;
  }
  .mobile-img {
    display: block;
  }
  .b-bottom-nav__item {
    padding-left: 0;
  }
  .b-bot-link > span {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-left: 32px;
  }
  .b-bottom-nav__item > img {
    display: block;
  }
  .b-bottom-nav {
    width: 195px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 320px) {
  .b-wrapper {
    background: #000;
  }
  .mobile-img {
    display: block;
  }
  .b-bottom-nav__item {
    padding-left: 0;
  }
  .b-bot-link > span {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-left: 32px;
  }
  .b-bottom-nav__item > img {
    display: block;
  }
  .b-bottom-nav {
    width: 195px;
    margin: 0 auto;
  }
}
